.wrapper {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#myCanvas {
    border: 1px solid white;
}

.gameButton {
    margin-top: 10px;
    height: 30px;
    width: 100px;
}
.backButton{
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

.result {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    color: black;
    display:none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    
}
